.contact {
	background-image: var(--contactBg);
	height: 100%;
	display: flex;
	align-items: center;
	padding: 60px 0;
	&-inner {
		display: flex;
		align-items: center;
	}
	&-content {
		flex: 1;
		padding-right: 60px;
	}
	&-image {
		width: calc(100% - 30px);
		flex: 1;
		img {
			width: 100%;
		}
	}
}